body{
    font-family:Roboto, Arial, sans-serif;
    color:#333;
}

h1{
    font-family:Roboto-light, Arial, sans-serif;
    font-size:3rem; /* three times the size of the default font-size */
    font-weight:normal;
    color:darkcyan;
}

h2{
    font-family:Roboto-medium, Arial, sans-serif;
    font-size:2rem; /* three times the size of the default font-size */
}

    
h3{
    text-transform: uppercase;
}

p{
    line-height:1.3em;
}

a{
    color:cornflowerblue;
    text-decoration: none;
}


.list{
    list-style-type: none;
    margin-top:0.5em;
    margin-bottom: 0.5em;
    border-bottom: solid 1px #ccc;
    padding-bottom:0.5em;
}


.button{
    width:64px;
    border:none;
    font-size:.875em;
    text-transform: uppercase;
    text-align: center;
    background-color: teal;
    color: white;
    border-radius: 5px;
    padding: 0.5em;
    box-shadow: 2px 2px 2px #999;
    display: inline-block;
}



.button:active{
    background-color: black;
    border: none;
}









